.CodeMirror {
    height: 40em !important;
}

button {
    cursor: pointer;
}

.toolbar {
    background-color: #2980b9;
}

.sparql-editor-wrapper {
    margin-bottom: 1em;
}

.sidebar-wrapper {
    margin-bottom: 1em;
}

.query-buttons {
    float: right;
}

.query-list {
    height: 15em;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid rgba(0,0,0,.125);
}
.query-list .list-group-item {
    border-radius: 0;
    flex-shrink: 0;
}
.query-list .list-group-item.not-saved .queryTitle:before {
    content: '*';
    color: #e74c3c;
    margin-right: 1em;
    font-weight: bold;
}

.common-prefixes {
    margin-top: 1.5em;
}

.sidebar-item {
    margin-bottom: 1.5em;
}
.sidebar-item_buttons {
    margin-bottom: 0.5em;
}
.common-prefixes-textarea {
    height: 10em;
    font-size: 0.8rem;
}

.renameHistoryQuery {
    position: absolute;
    right: 0;
}

.newQueryName {
    margin-bottom: 5px;
}

.queryItemInfo {
    width: 100%;
    position: relative;
}

.querySettings {
    margin-top: 1em;
    width: 100%;
}

.system-text {
    font-size: 0.8rem;
    margin: 0.1em 0 1em;
    color: #666;
    font-weight: 700;
}

.query-execution-result_response {
    width: 100%;
    border: none;
    min-height: 550px;
    overflow-y: scroll;
}

.marked-text-error {
    background-color : rgba(231,76,60, 0.4) !important;
    z-index: -900;
}

.marked-text-warning {
    background-color : rgba(243,156,18, 0.2) !important;
    z-index: -900;
}
